<!-- this is the page for a new session (when someone logs in) -->
<h1>Log In</h1>
<!-- Login form, '/sessions' is the url the form should post to
tag instead of for because we're not working with a model object -->
<%= form_tag '/sessions' do %>
  <%= text_field_tag :email %>
  <%= password_field_tag :password %>
  <%= submit_tag "Log In" %>
<% end %>

No account? <%= link_to 'Sign Up', new_user_path %>