<!-- this will loop each card and show each one (list of cards) -->
<h1>All the Cards</h1>
<% @cards.each do |card| %>
  <!-- what is this ruby code trying to show to the user?? -->
  <div class="<%= "card #{card.card_type.downcase.gsub(/\s/,'')}"%>" >

    <ul class="card-attributes">
      <!-- So since any card is shareable and can have more than 1 person associated with it, we are listing the different users/names the card is shared with -->
      <li> <%= card.users.map(&:full_name).join(', ') %></li>
      <!-- show card type -->
      <li> <%= link_to card.card_type, card_path(card) %> </li>
      <!-- show card number -->
      <li> <%= card.number %> </li>
      <!-- show expiration month/year -->
      <li> Expires: <%= "#{card.exiration_month}/#{card.expiration_year}" %> %> </li>
    </ul>

  </div>
<% end %>