<!-- shows any error messages when adding a new card -->
<% if @card.errors.any? %>
  <ul>
    <% @card.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %>
  </ul>
<% end %>

<!-- for to fill out by the user which creates a new card -->
<%= form_for @card do |f| %>
  <%= f.label :number %>
  <%= f.text_field :number %>
  <%= f.label :expiration_month %>
  <%= f.select :expiration_month, (1..12) %>
  <%= f.label :expiration_year %>
  <%= f.select :expiration_year, (2015..2029) %>
  <%= f.submit 'Create Card' %>
<% end %>