<!-- this is the baseline HTML/erb template for all pages -->
<!DOCTYPE html>
<html>
<head>
  <title>WalletApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- this renders the flashes template -->
<%= render 'shared/flashes' %>
<!-- this creates a link of logout to the current user who is currently in a session -->
<!-- we created a shorthand so we only have to write 'logout_path' here, the routes.rb has an extra line of code --> 
<%= link_to 'Logout', logout_path, method: :delete if current_user %>

<%= yield %>

</body>
</html>
