<!-- this is the baseline HTML/erb template for all pages -->
<!DOCTYPE html>
<html>
<head>
  <title>WalletApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- what does this do? -->
<%= render 'shared/flashes' %>
<!-- this creates a link of logout to the current user who is currently in a session -->
<!-- what does session_path and method do? -->
<%= link_to 'Logout', session_path(currrent_user.id), method: :delete if currrent_user %>

<%= yield %>

</body>
</html>
